/*global*/
*{
    box-sizing: border-box;
}

body{
    font-family: Arial;
    width: 80%;
    margin: auto;
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #d9eaf2 20%,
        #87ceeb 40%,
        #f2e3d5 65%,
        #a8a0a5 82%,
        #1a1a1a 100%
    );
    color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
nav{
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
    -webkit-text-stroke: 0px;
}
img{
    max-width: 100%;
    height: auto;
}
footer{
    text-align: center;
    font-size: 20px;
}
/*header*/
.site-init{
    background-image: url("background.jpeg");
    color: white;
    -webkit-text-stroke: 1px black;
    padding: 30px;
    border-radius: 15px;
}
h1{
    text-align: center;
}
.menu-sub{
    display: block;
    text-align: center;
    background-color: orange;
    padding: 10px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
/*main*/
.lg-text{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.sub-line{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.sm-text{
    font-size: 14px;
    color: black;
}
.intro{
    font-size: 14px;
    color: black;
    text-indent: 40px;
}
/*gallery*/
.blog-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.art1{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    border: 2px white;
    padding: 10px;
}
.art1 img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.arttext1{
    margin-left: 5px;
    flex: 1;
}
.art2{
    width: fit-content;
    align-self: center;
}
.art3{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    border: 2px white;
    padding: 10px;
}
.art3 img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}
article{
    background-color: white;
    padding: 10px;
    border-width: auto;
    border-radius: 10px;
}
footer{
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 250px;
    border-radius: 20px 20px 0 0;

}
footer h2{
    font-size: 24px;
    margin-bottom: 10px;
}
footer p{
    margin: 8px;
}
.copyright{
    font-size: 12px;
    opacity: 0.7;
}