body{
    font-family: Arial;
    width: 80%;
    margin: auto;
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #d9eaf2 20%,
        #87ceeb 40%,
        #f2e3d5 65%,
        #a8a0a5 82%,
        #1a1a1a 100%
    );
    color: black;

}
nav{
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
    -webkit-text-stroke: 0px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer{
    text-align: center;
    font-size: 20px;
}
/*header*/
.site-init{
    background-image: url("background.jpeg");
    color: white;
    -webkit-text-stroke: 1px black;
    padding: 30px;
    border-radius: 15px;
}
h1{
    text-align: center;
}
.menu-sub{
    display: block;
    text-align: center;
    background-color: orange;
    padding: 10px;
}

/*main*/
.lg-text{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.sub-line{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.sm-text{
    font-size: 14px;
    color: black;
}
.intro{
    font-size: 14px;
    color: black;
    text-indent: 40px;
}
footer{
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 250px;
    border-radius: 20px 20px 0 0;

}
footer h2{
    font-size: 24px;
    margin-bottom: 10px;
}
footer p{
    margin: 8px;
}
.copyright{
    font-size: 12px;
    opacity: 0.7;
}